# GitPlex: personal (github)
Host github.com
    HostName github.com
    User git
    IdentityFile ~/.ssh/id_ed25519_personal_github
    IdentitiesOnly yes
    UseKeychain yes
    AddKeysToAgent yes

# GitPlex: azure (azure)
Host ssh.dev.azure.com
    HostName ssh.dev.azure.com
    User git
    IdentityFile ~/.ssh/id_rsa_azure_devops
    IdentitiesOnly yes
    HostKeyAlgorithms +ssh-rsa
    PubkeyAcceptedAlgorithms +ssh-rsa
    UseKeychain yes
    AddKeysToAgent yes