[SddmGreeterTheme]
Name=CachyOS Hyprland
Description=Minimal Tokyo Night login theme for CachyOS with Hyprland
Author=arakiss
Type=sddm-theme
Version=1.0
